Dashboard Page
<br />
<br />
<form action="/user/sign_in" method="POST">
    <table>
        <tr>
            <td><label>Username</label></td>
            <td><input name="username" type="text" /></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input name="password" type="password" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><button>Generate Token</button></td>
        </tr>
    </table>
</form>